<h1>categorias</h1>

<div class="container">
    <div class="row justify-content-md-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <th scope="row">{{ categoria['code'] }}</th>
          <td colspan="2" class="table-active">{{ categoria['nombre'] }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  
  </div> 
  