<h1>categorias</h1>
<tbody>
  <tr *ngFor="let categoria of categorias">
     <td>{{ categoria.payload.doc.data().nombre }}</td>
     
  </tr>
  </tbody>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      
      </div>
      <div class="col-md-auto">
      
      </div>
      <div class="col col-lg-2">
       
      </div>
    </div>
    <div class="row">
      <div class="col">
      
      </div>
      <div class="col-md-auto">
      
      </div>
      <div class="col col-lg-2">
       
      </div>
    </div>
  </div>
  