<div class="container mt-4 mb-lg-5">
  <div>

    <div class="container">
      <div class="time-countdown">
        <ul align="center">
          <h6 *ngIf="tiempo">Tiempo restante: {{time}}</h6>
          <h6 *ngIf="!tiempo">Se agoto el tiempo</h6>
        </ul>
    </div>
      </div>
  <h4 class="text-bold text-center">Realizar pago</h4>
  <p-table [columns]="cols" [value]="boletos">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <h5>Total: {{total}} USD</h5>
</div>
<p-card  header="Pagar Reservacion:">
  <div class="container">
    <div class="mb-3">
      <span class="badge bg-danger">
         Una vez que se realize el pago<br>
         ya no podra cancelar los lugares<br>
          y/o mesa seleccionados</span>
    </div>
  </div>
  <div class="container" >
    <div class="mb-3">
      <div #paypal ></div>
    </div>
  </div>
</p-card>

<p-dialog header="Detalles de Reservacion" [(visible)]="statuspago">
  <span class="badge bg-success" >Compra Realizada Correctamente</span>
  <p>Reed Latino 2022</p>
  <p>Lugares:{{this.lugaresAdquiridos}}</p>
  <p>Código de ticket:{{this.codigotiket}}</p>
  <p>Estatus de Pago:<span class="badge bg-success" >Pagado</span></p>
  <div class="container">
    <div class="mb-3">
      <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="dataToString"
      [colorDark]="'#94969e'"
      [colorLight]="'#000000'"
      [imageSrc]="'https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FEscudo-RL.png?alt=media&token=58ee9622-0c5e-4d17-90f1-39a9447a7472'"
      [imageHeight]="170"
    [imageWidth]="170"
      [title]="'A custom title attributesss'" [width]="256" [errorCorrectionLevel]="'M'">Datos</qrcode>
    <a [href]="qrCodeDownloadLink" download="qrcode">Descargue su QR de Acceso !!</a>
    </div>
  </div>
</p-dialog>


