<!-- <main class=" min-w-full h-[70vh] px-4 sm:px-6 lg:px-8 pt-20 mb-20" >
    <div class="sm:text-center lg:text-left">
      <h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="text-white inline xl:inline">Awards</span>
        <span class="text-primary-50 inline xl:inline">2022</span>
      </h1>
      <p class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Los mejores reportes del año</p>
    </div>
  </main> -->

  <div class="card bg-dark text-white" > 
    <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2Fworkflow-mark-indigo-600.svg?alt=media&token=7f1640bc-9f7c-4e4e-be52-7c63bdc11663" alt="" height="520" width="100">
    <div class="card-img-overlay">
      <h5 class="card-title"><h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="text-white inline xl:inline">Awards</span>
        <span class="text-primary-50 inline xl:inline">2022</span>
      </h1></h5>
      <p class="card-text">Los mejores reportes del año</p>
  
    </div>
  </div>
  <h2 class="text-center text-4xl mb-10 font-bold">Salon de la fama</h2>
  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 p-3">
      <div class="bg-white border-2 border-gray-300 rounded-lg shadow-lg p-4">
        <h5 class="text-gray-700 font-bold mb-3">Descarga los documentos aquí</h5>
        <p class="text-gray-700 text-base">Los documetnos requeridos para que puedas crear tu nominación</p>
        <!-- columna con 4 filas -->
        <div class="row">
          <div class="col">
            <p>
              <br>
              <br>
              <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2FCesionDeDerechos.docx?alt=media&token=14577e87-bbf5-44cf-948f-b248a1243684" >
                <img src="assets/img/docx.png" alt="" height="150" width="140">
              </a>
              <br>Cesión de derechos
              <br>
            </p>
          </div>
          <div class="col">
            <p>
              <br>
              <br>
              <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FCarta%20de%20Intencio%CC%81n%20.docx?alt=media&token=1752cf4d-74af-4bfc-b564-cedf28c80516" >
                <img src="assets/img/docx.png" alt="" height="150" width="140">
              </a>
              <br>Carta de intención
              <br>
            </p>
          </div>
          <div class="col">
            <p>
              <br>
              <br>
              <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FCONSULTOR%20DEL%20AN%CC%83O.docx?alt=media&token=4d56eea2-bfe5-40c7-be0f-4ee4e9e51ab0" >
                <img src="assets/img/docx.png" alt="" height="150" width="140">
              </a>
              <br>Consultor del año
              <br>
            </p>
          </div>
          <div class="col">
            <p>
              <br>
              <br>
              <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FACADE%CC%81MICAS.docx?alt=media&token=8b1094cb-c560-4bc4-a34f-969a96870b21" >
                <img src="assets/img/docx.png" alt="" height="150" width="140">
              </a>
              <br>Academias
              <br>
            </p>
          </div>
          <div class="col">
            <p>
              <br>
              <br>
              <a href="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/ourFiles%2FConsultor%20Revelacio%CC%81n.docx?alt=media&token=e7d04301-115d-4425-8748-3e7df63c60a5" >
                <img src="assets/img/docx.png" alt="" height="150" width="140">
              </a>
              <br>Consultor revelación
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>