<!-- <main class=" min-w-full h-[70vh] px-4 sm:px-6 lg:px-8 pt-20 mb-20" >
    <div class="sm:text-center lg:text-left">
      <h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="text-white inline xl:inline">Awards</span>
        <span class="text-primary-50 inline xl:inline">2022</span>
      </h1>
      <p class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Los mejores reportes del año</p>
    </div>
  </main> -->

  <div class="card bg-dark text-white" > 
    <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/rewards-latino.appspot.com/o/files%2Fworkflow-mark-indigo-600.svg?alt=media&token=7f1640bc-9f7c-4e4e-be52-7c63bdc11663" alt="" height="520" width="100">
    <div class="card-img-overlay">
      <h5 class="card-title"><h1 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="text-white inline xl:inline">Awards</span>
        <span class="text-primary-50 inline xl:inline">2022</span>
      </h1></h5>
      <p class="card-text">Los mejores reportes del año</p>
  
    </div>
  </div>
  <h2 class="text-center text-4xl mb-10 font-bold">Salon de la fama</h2>