<div class="contenedor mt-4 mb-lg-5">
    <h3 class="text-bold text-center">Mis Nominaci&oacute;nes</h3>
    <button type="button" class="btn btn-primary" (click)="visibleSide = true">Nueva Nominación</button>
    <hr>

    <div class="row" *ngIf="loading">
        <div class="content">
            <img class="rotate" src="assets/svg/logo.svg" alt="" style="width: 50%; height: 50%;">
        </div>
    </div>

    <div class="row" *ngIf="!listNominaciones && !loading">
        <p-card class="p-vacio">
            <div class="text-center">
                <h1>No tienes ninguna nominaci&oacute;n</h1>
                <h4>Crea una nueva nominaci&oacute;n con el boton que se encuentra en la parte superior izquierda de la pantalla</h4>
            </div>
        </p-card>
    </div>

    <div class="row" *ngIf="listNominaciones && listNominaciones.length && listNominaciones.length > 0 && !loading">
        <div class="col-12 col-md-3" *ngFor="let nominacion of listNominaciones">
            <p-card [header]="nominacion.titulo" [subheader]="nominacion.categoria" [style]="{width: '100%'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="nominacion?.fileLogoEmpresa?.url" *ngIf="nominacion?.fileLogoEmpresa?.url" style="width: 100%;">
                    <div class="text-center" *ngIf="!nominacion?.fileLogoEmpresa?.url">
                        <img alt="Card" src="assets/svg/logo.svg" style="width: 70%;">
                    </div>
                </ng-template>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p> -->
                <ng-template pTemplate="footer">
                    <button class="btn btn-primary"><i class="fa-solid fa-eye"></i> Vista Previa</button>
                    <button class="btn btn-secondary" [style]="{'margin-left': '.5em'}"><i class="fa-solid fa-pen"></i> Editar</button>
                </ng-template>
            </p-card>
        </div>
    </div>

</div>

<p-sidebar [(visible)]="visibleSide" position="right" [baseZIndex]="2" [style]="{ 'width': '60%'}">
    <app-add-nominacion *ngIf="visibleSide"></app-add-nominacion>
</p-sidebar>