::ng-deep .p-vacio .p-card {
    height: 25rem;
}

::ng-deep .p-vacio .p-card .p-card-body {
    padding-top: 6rem;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.content {
    width: 700px;
    height: 400px;
    line-height: 400px;
    margin: 0px auto;
    text-align: center;
    /* background-color: #CCCCCC; */
}

.content img {
    vertical-align: middle;
}

.btn-primary {
    background: #5b4bad;
    border-color: #5b4bad;
}

.btn-primary:hover {
    background: #3c3174;
    border-color: #3c3174;
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background: #3c3174;
    border-color: #3c3174;
}

@media screen and (min-width: 1920px) {
    .content {
        height: 700px;
        line-height: 700px;
    }
     ::ng-deep .p-vacio .p-card {
        height: 50rem;
    }
     ::ng-deep .p-vacio .p-card .p-card-body {
        padding-top: 20rem;
    }
}