
<div class="contenedor mt-4 mb-lg-5" #content>
    <h3 class="text-bold text-center">Evaluaciòn de Nominaciones</h3>
 
        <div class="row" *ngIf="loading">
            <div class="content">
                <img class="rotate" src="assets/svg/logo.svg" alt="" style="width: 50%; height: 50%;">
            </div>
        </div>
    
        <div class="row" *ngIf="!listNominaciones !loading">
            <p-card class="p-vacio">
                <div class="text-center">
                    <h1>No hay ninguna nominaci&oacute;n registrada</h1>
                </div>
            </p-card>
        </div>
    
        <div class="row" *ngIf="listNominaciones && listNominaciones.length && listNominaciones.length > 0 && !loading">
           
            <p-table  rowExpandMode="single" #tableNominaciones [value]="listNominaciones" [columns]="cols" selectionMode="single" [(selection)]="selectedNominacion" dataKey="id" [loading]="loading" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} nominaciones" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped" [globalFilterFields]="['titulo','nominado','categoria','fechaCreacion','fechaActualizacion','usuario.displayName','usuario.email']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="tableNominaciones.clear()"></button> &nbsp; &nbsp;
                        <span class="p-input-icon-left ml-auto" style="width: 89%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="tableNominaciones.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." [style]="{ width: '100%' }"/>
                          </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
    
                <th style="width: 3rem"></th>
                        <th>Acciones</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.filter">
                            <div class="flex justify-content-center align-items-center" style="width: 13em;">
                                {{col.header}}
                                <p-sortIcon [field]="col.filter"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th *ngFor="let col of columns">
                            <div class="flex justify-content-center align-items-center" style="width: 16em;">
                                <p-columnFilter type="text" [field]="col.filter" hideOnClear="true" [style]="{'width':'100%'}"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"    let-rowData let-columns="columns" let-expanded="expanded">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="editarNominacion(rowData)"></button>
                        </td>
                        <td *ngFor="let col of columns">
                            <div class="text-overflow" *ngIf="col.fiel != 'displayName' && col.field != 'email'">
                                {{ rowData[col.field] }}
                            </div>
                            <div class="text-overflow" *ngIf="col.fiel == 'displayName' || col.field == 'email'">
                                {{ rowData.usuario ? rowData.usuario[col.field] : 'Desconocido' }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- CONTENIDO AL EXPANDIR EL RENGLON-->
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td colspan="8">
                            <div class="flex align-items-center">
                                <h5>Material Multimedia</h5>
                                <a *ngFor="let item of rowData.materialMultimedia"  [href]="item.url" downloadFile target="blank">
                                  
                                <p-chip  [label]="fileNameFromUrl(item.url)" [style]="{ 'margin-right': '6px', 'margin-bottom': '6px'}"  icon="pi pi-download"></p-chip>
                            </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
    
        </div>
    
    </div>
    
    <p-sidebar [(visible)]="visibleSide" position="right" [appendTo]="body" [baseZIndex]="2" [style]="{ 'width': '60%'}">
        <app-add-nominacion-admin *ngIf="visibleSide" [accion]="accion" [nominacionEditar]="nominacionEditar" (fetchNominaciones)="fetchNominacion()"></app-add-nominacion-admin>
    
    </p-sidebar>
    
      