

    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="text-dark">Reservas Acceso</h3>

        </ng-template>
        <ng-template pTemplate="right">
            <div>
                <input class="form-control" type="file" id="formFileDisabled" #fileImportInput
                    name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
            </div>
            <button pButton pRipple label="Importar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Exportar" icon="pi pi-download" class="p-button-info mr-2" (click)="Excel()" [style]="{marginRight: '6px'}"></button>
            
             

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="reservaCollectiondata" 
    dataKey="id"
    [globalFilterFields]="[
                    'id',
                    'mesa',
                    'nombre',
                    'comida',
                  ]"
    [rows]="20" [paginator]="true" [loading]="loading" [rowsPerPageOptions]="[20,35,50]">
        <ng-template pTemplate="caption">
            <div class="col col-md-5">
                <span class="p-input-icon-left" style="width: 100%;">
                                  <input pInputText type="text"
                                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                                      placeholder="Buscar..." [style]="{'width': '100%'}" />
                              </span>
            </div>
            
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">
                   
                        ID
                  
                    <p-sortIcon></p-sortIcon>
                </th>
                <th>
                   Mesa y Asiento

                </th>
                <th>
                    Nombre

                </th>
                <th>
                   Comida

                </th>
                <th>
                    Empresa

                </th>
                <th>
                    STATUS PAGO

                </th>
                <th>
                    PAGO MX O DLS

                </th>
                <th>
                    Correo

                </th>
                <th>
                    Confirmado
                </th>
                <th>
                  Boleto
              </th>
                <th>
                    Acciones
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservacion>
            <tr>
                <td>
                   
                    <p>{{reservacion.id}}</p>
                    
                </td>
                <td>
                    <p>{{reservacion.mesa}}</p>
                </td>
                <td>
                    <p>{{reservacion.nombre}}</p>
                </td>
                <td>
                    <p>{{reservacion.comida}}</p>
                </td>
                <td>
                    <p>{{reservacion.empresa}}</p>
                </td>
                <td>
                    <p>{{reservacion.statusPago}}</p>
                </td>
                <td>
                    <p>{{reservacion.pago}}</p>
                </td>
                <td>
                    <p>{{reservacion.correo}}</p>
                </td>

                <td>

                </td>
                <td>
                  <button class="btn btn-primary" (click)="downloadPdfReservacion(reservacion)">QR</button>
              </td>

                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(reservacion)" (click)="edit"></button>-->
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-3" (click)="delete(reservacion)"></button>

                    <!--<button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-tertiary mr-2" (click)="downloadPdfReservacion(reservacion)"></button> !-->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total de Reservas de acceso {{reservaCollectiondata ? reservaCollectiondata.length : 0 }}.
            </div>
        </ng-template>
    </p-table>


<!-- Nueva reservacion -->
<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Nueva reservacion" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="reservacionForm">

            <!-- <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="reservacionModel.id" formControlName="id" [ngClass]="submitted && reservacionForm.controls['id'].errors ? 'is-invalid' : !submitted && reservacionForm.controls['id'].valid ? 'is-valid' : submitted && reservacionForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !reservacionModel.id">nombre is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="reservacionModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !reservacionModel.nombre">nombre is required.</small>

            </div> -->



        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
        </div>

    </ng-template>
</p-dialog>

<p-dialog [(visible)]="edit" [style]="{width: '450px'}" header="Editar reservacion" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="reservacionForm">
<!--
            <div class="field">
                <label for="id">id:</label>
                <input type="number" pInputText name="id" class="" value="" [(ngModel)]="reservacionModel.id" formControlName="id" [ngClass]="submitted && reservacionForm.controls['id'].errors ? 'is-invalid' : !submitted && reservacionForm.controls['id'].valid ? 'is-valid' : submitted && reservacionForm.controls['id'].valid ? 'is-valid' : null">
                <small class="p-error" *ngIf="submitted && !reservacionModel.id">Id is required.</small>

            </div>
            <div class="field">
                <label for="nombre">Fecha de Inicio:</label>
                <input type="text" name="nombre" class="" value="" pInputText required [(ngModel)]="reservacionModel.nombre" formControlName="nombre" required/>
                <small class="p-error" *ngIf="submitted && !reservacionModel.nombre">Nombre is required.</small>

            </div> -->



        </form>



    </ng-template>

    <ng-template pTemplate="footer">
        <div>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
        </div>


    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div></div>
<!-- PDF REED LATINO  -->
<!-- <div id="reservacionPDF" #reservacionPDF *ngIf="showTemplatePDF">
    <div class="row">

        <div class="col-12">
          <img src="assets/pdf/header_pdf.png" alt="" >
      </div>
      <div class="col-12">
        <img src="assets/pdf/Foto.png" alt="" >
    </div>
    <div class="col-12">
      <img src="assets/pdf/lugar.png" alt="" >
  </div>
        <div class="col-12" style="margin-top: 10px;">
          <qrcode [qrdata]="dataToString"
          [imageHeight]="190" [imageWidth]="190" [title]="'A custom title attributesss'" [width]="256" [errorCorrectionLevel]="'M'">Datos</qrcode>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <img src="assets/pdf/footer_pdf.png" class="footer" alt="">
        </div>
    </div>
</div> -->


<!-- FIN PDF  -->
<!-- Elemento del QR que se genera -->
<qrcode
  #qrCodeElement
  [qrdata]="dataToString"
  [width]="256"
  [errorCorrectionLevel]="'M'"
></qrcode>
