<!-- Card con información para realizar una transferencia  -->
<div class="card ">
    <div class="card-body">
        <h2 class="card-title">Transferencia</h2>
        <p class="card-text text-justify">
            <br>RFC: AAE150514L41
            <br>Numero de cuenta para depósitos: Banorte:  0284293400
            <br>Clabe bancaria: 072650002842934008
            <br>
            <br>AR Asesores y Ediciones S.A de C.V
            <br>Banco Banorte
            <br>Numero de cuenta: 0284293400
            <br>Clabe: 072650002842934008
            <br>SWIFT: MT103
            <br>
            <br>PARA DEPOSITO EN DOLARES AMERICANOS A REED LATINO:
            <br>ENVIO MEDIANTE CODIGO SWIFT DE TRANSFERENCIA INTERNACIONAL
            <br>(SWIFT MT103)
            <br>DATOS DEL ORDENANTE: CUENTA, NOMBRE Y DIRECCION
            <br>BANCO INTERMEDIARIO: BOFAUS3N
            <br>BANK OF AMERICA N.A.
            <br>NEW YORK, NY. USA
            <br>BANCO DESTINO: MENOMXMTWLS
            <br>BANCO MERCANTIL DEL NORTE, S.A.
            <br>DATOS DEL BENEFICIARIO: AR ASESORES Y EDICIONES SA DE CV
            <br>Cuenta: 02842934008
        </p>
    </div>
</div>