
<p-card header="Selecciona un lugar" align="center" [style]="styleOBJ" >

<div class="container-fluid"> 
<div class="container">
   <div class="zonaGeneral">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="grid">
      <div class="icon">
        O
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        N
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        M
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="grid4">
      <div class="icon">
        L
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        K
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        J
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        I
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <div class="grid4">
      <div class="icon">
        H
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        G
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        F
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        E
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unit" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
 
  
  <br>
    <br>
    <br>
    

</div>
  
  <div class="zonaVIP">
  <br>
    <br>
    <br>
    <div class="grid4">
      <div class="iconVIP">
        D
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unitVIP" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="iconVIP">
        C
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unitVIP" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="iconVIP">
        B
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unitVIP" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="iconVIP">
        A
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a class="unitVIP" href="#">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
    <div>
      <p-card>
        <h1>Escenario</h1>
      
      </p-card>
    </div>
  </div>
</div>
</p-card>