
<p-card header="Selecciona un lugar" align="center" [style]="styleOBJ" >
  <div class="container-fluid">
    <div class="grid2">
      <button class="btn btn-danger"(click)="cancelarCompra()" >Cancelar</button>
      <br>
      <button class="btn btn-primary"(click)="realizarCompra()">Siguiente</button>
    </div>
  
  </div>
  
  <br>
  <br>


<div class="container-fluid"> 
<div class="container">
   <div class="zonaGeneral">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="grid">
      <div class="icon">
        O
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'O'+name" class="unit" (click)="selectedAsiento('O'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        N
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'N'+name" class="unit" (click)="selectedAsiento('N'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        M
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'R'+name" class="unit" (click)="selectedAsiento('R'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="grid4">
      <div class="icon">
        L
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'L'+name" class="unit" (click)="selectedAsiento('L'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        K
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'K'+name" class="unit" (click)="selectedAsiento('K'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        J
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'J'+name" class="unit" (click)="selectedAsiento('J'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        I
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'I'+name" class="unit" (click)="selectedAsiento('I'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="grid4">
      <div class="icon">
        H
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'H'+name" class="unit" (click)="selectedAsiento('H'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        G
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'G'+name" class="unit" (click)="selectedAsiento('G'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        F
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'F'+name" class="unit" (click)="selectedAsiento('F'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="icon">
        E
        <ul class="menu" >  
          <li class="spread" *ngFor="let name of mesas">
                <a #MyRef [id]="'E'+name" class="unit" (click)="selectedAsiento('E'+name)">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
 
  
  <br>
    <br>
    <br>
    

</div>
  
  <div class="zonaVIP">
  <br>
    <br>
    <br>
    <div class="grid4">
      <div class="iconVIP" #MyRef [id]="'D'" (click)="comprarMesa('D')">
        D
        <ul class="menu" >  
          <li class="spreadVIP" *ngFor="let name of mesas">
                <a #MyRef [id]="'D'+name" class="unitVIP">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="iconVIP"  #MyRef [id]="'C'" (click)="comprarMesa('C')">
        C
        <ul class="menu" >  
          <li class="spreadVIP" *ngFor="let name of mesas">
                <a class="unitVIP" #MyRef [id]="'C'+name" >{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="iconVIP"  #MyRef [id]="'B'" (click)="comprarMesa('B')">
        B
        <ul class="menu" >  
          <li class="spreadVIP" *ngFor="let name of mesas">
                <a class="unitVIP" #MyRef [id]="'B'+name" >{{name}}</a>
          </li>
        </ul>
      </div>
      
      <div class="iconVIP"  #MyRef [id]="'A'" (click)="comprarMesa('A')">
        A
        <ul class="menu"  >  
          <li class="spreadVIP" *ngFor="let name of mesas">
                <a class="unitVIP" #MyRef [id]="'A'+name">{{name}}</a>
          </li>
        </ul>
      </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
    <div>
      <p-card>
        <h1>Escenario</h1>
      
      </p-card>
    </div>
  </div>
</div>
</p-card>